body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

header {
    max-width: 1900px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9;
    font-size: 15px;

}

header p {
    margin: 50;
    font-weight: bold;
    margin-left: 150px;
}

header p {
    text-decoration: none;
    color: #000000; 
}

header p:hover {
    text-decoration: underline;
    color: #708628;
}

header nav p {
    color: #000000;
}

header nav p:hover {
    color: #708628;
}

header nav ul {
    margin: 50;
    margin-right: 110px;
    list-style: none;
    display: flex;
    gap: 70px;

}

header a {
    text-decoration: none;
    color: #000000; 
}

header a:hover {
    text-decoration: underline;
    color: #708628;
}

header nav a {
    color: #000000;
}

header nav a:hover {
    color: #708628;
}

main {
    margin: 0px;
}

.image-container {
    display: flex;
    align-items: left;
    margin-bottom: 100px;
    max-height: 500px !important;

}

.image-container {
    max-width: 100%;
    height: auto;
}

.green-square {
    background-color: #A7DB02;
    width: 65%; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.green-square p1 {
    color: #000000;
    margin-left: -140px;
    font-size: 18px;
    margin-top: -30px;
}

.green-square p2{
    color: #000000;
    margin-left: -115px;
    font-size: 18px;
    margin-top: -30px;
}

.green-square h1 {
    color: #ffffff;
    font-size: 40px;
    margin-top: -50px;
    margin-right: 170px;
}

.green-square h2 {
    color: #ffffff;
    font-size: 40px;
    margin-top: -50px;
    margin-right: 170px;
}

.green-square h3{
    color: #ffffff;
    font-size: 40px;
    margin-top: -50px;
    padding-left: 6%;
}

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 30px; 
    margin-bottom: 5rem;
}

.text {
    width: 49%;
}

.image {
    width: 33%;
    margin-top: 60px;
    margin-right: 50px;
}

.text p {
    font-size: 15px;
    margin-left: 120px;
    margin-right: 30px;
    line-height: 1.4;
    margin-bottom: 3rem
}

.text h4{
    font-size: 20px;
    font-weight: bold;
    margin-left: 120px;
    margin-right: 30px;
    line-height: 1.4;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.primo{
    display: flex;
}

.primo .testo{
    width: 38%;
    padding-left: 90px;
}

.immagine1{
    margin-left: 7%;
}



.secondo{
    display: flex;
}

.secondo .testo{
    width: 38%;
    padding-left: 140px;
    margin-top: 8%;
}

.immagine2{
    margin-left: 13%;
    margin-top: 6%;
}




.terzo{
    display: flex;

}

.terzo .testo{
    width: 40%;
    padding-left: 40px;
    margin-top: 7%;
}

.immagine3{
    margin-left: 6%;
    margin-top: -4%;
}













.quarto{
    display: flex;
}

.quarto .testo{
    width: 38%;
    padding-left: 68px;
}

.immagine4{
    margin-left: 7%;
    margin-top: 6%;
}



.quinto{
    display: flex;
}

.quinto .testo{
    width: 38%;
    padding-left: 140px;
    margin-top: 14%;
}

.immagine5{
    margin-left: 10%;
    margin-top: 18%;
}




.sesto{
    display: flex;

}

.sesto .testo{
    width: 40%;
    padding-left: 147px;
    margin-top: 14%;
    margin-bottom: 8%;
}

.immagine6{
    margin-left: 6%;
    margin-top: 14%;
    
}










.settimo{
    display: flex;
}

.settimo .testo{
    width: 38%;
    padding-left: 95px;
}

.immagine7{
    margin-left: 7%;
    margin-top: 2%;
}



.ottavo{
    display: flex;
}

.ottavo .testo{
    width: 38%;
    padding-left: 105px;
    margin-top: 9%;
}

.immagine8{
    margin-left: 9%;
    margin-top: 16%;
}




.nono{
    display: flex;

}

.nono .testo{
    width: 40%;
    padding-left: 166px;
    margin-top: 14%;
    margin-bottom: 5%;
}

.immagine9{
    margin-left: 6%;
    margin-top: 10%;
    margin-bottom: -5%;
    
}


footer {
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9;
    font-size: 15px;
    padding: 15px;
}

footer p {
    margin: 50;
    font-weight: bold;
    margin-left: 150px;
}

footer nav p {
    color: #000000;
}

footer nav ul {
    margin: 50;
    margin-right: 110px;
    list-style: none;
    display: flex;
    gap: 70px;
    font-weight: bold;
}




footer nav a {
    color: #000000;
}

.uk-divider-vertical {
background: #a7db02 !important;
width: 5px !important;
height: 35px !important;
}
 
  
    



   




























