body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

header {
    max-width: 1900px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9;
    font-size: 15px;

}

header p {
    margin: 50;
    font-weight: bold;
    margin-left: 150px;
}

header p {
    text-decoration: none;
    color: #000000; 
}

header p:hover {
    text-decoration: underline;
    color: #708628;
}

header nav p {
    color: #000000;
}

header nav p:hover {
    color: #708628;
}

header nav ul {
    margin: 50;
    margin-right: 110px;
    list-style: none;
    display: flex;
    gap: 70px;
}

header a {
    text-decoration: none;
    color: #000000; 
}

header a:hover {
    text-decoration: underline;
    color: #708628;
}

header nav a {
    color: #000000;
}

header nav a:hover {
    color: #708628;
}

main {
    margin: 0px;
}

.image-container {
    display: flex;
    align-items: left;
    margin-bottom: 100px;

}

.image-container {
    max-width: 100%;
    height: auto;
}

.green-square {
    background-color: #A7DB02;
    width: 65%; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.green-square h1 {
    max-height: 100px;
    color: #ffffff;
    font-size: 40px;
    margin-right: 170px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.green-square h2 {
    max-height: 100px;
    color: #ffffff;
    font-size: 40px;
    margin-right: 170px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.green-square h3 {
    max-height: 100px;
    color: #ffffff;
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.green-square h5 {
    max-height: 100px;
    color: #ffffff;
    font-size: 40px;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.green-square p {
    max-width: 400px;
    max-height: 100px;
    font-weight: normal;
    color: #000000;
    margin-right: 135px;
    font-size: 18px;
}

.green-square h2 {
    max-height: 100px;
    color: #ffffff;
    font-size: 40px;
    margin-right: 170px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.homepage .text {
    width: 60%;
    margin-right: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.homepage .image {
    width: 50%;
    margin-left: 140px;
}

.homepage .image img {
    width: 100%;
    height: auto;
}

.tisane .text {
    max-width: 500px;
    width: 60%;
    margin-right: 10px;
    margin-left: 710px;
    margin-bottom: 10px;
}

.icone {
    margin-top: 50px;
    background-color: #fff;
    text-align: center;
}

.icone .Icone img {
    width: auto;
}

.icone .grid ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 100px;
    list-style: none;
}

.icone .grid ul li {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.icone .grid ul li a {
    max-width: 100px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border: 20px solid #A7DB02;
    border-radius: 35px;
    display: block; 
}

.tipologie {
    text-align: right;
    margin-right: 200px;
    margin-bottom: 100px;
}

.tipologie ul {
    list-style: none;
}

.tipologie ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    border: 20px solid #A7DB02;
    border-radius: 35px;
}

.primo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}


.primo .text {
    width: 60%;
    margin-right: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.primo .immagini {
    width: 50%;
    margin-left: 140px;
}

.primo .immagini img {
    width: 100%;
    height: auto;
}

.secondo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}


.secondo .text {
    width: 60%;
    margin-right: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.secondo .immagini {
    width: 50%;
    margin-left: 140px;
}

.secondo .immagini img {
    width: 100%;
    height: auto;
}

.terzo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}


.terzo .text {
    width: 60%;
    margin-right: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.terzo .immagini {
    width: 50%;
    margin-left: 140px;
}

.terzo .immagini img {
    width: 100%;
    height: auto;
}

.quarto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}


.quarto .text {
    width: 60%;
    margin-right: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.quarto .immagini {
    width: 50%;
    margin-left: 140px;
}

.quarto .immagini img {
    width: 100%;
    height: auto;
}

.quinto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.quinto .text {
    width: 60%;
    margin-right: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.quinto .immagini {
    width: 50%;
    margin-left: 140px;
}

.quinto .immagini img {
    width: 100%;
    height: auto;
}

.sesto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.sesto .text {
    width: 60%;
    margin-right: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.sesto .immagini {
    width: 50%;
    margin-left: 140px;
}

.sesto .immagini img {
    width: 100%;
    height: auto;
}

.preparazione .text {
    max-width: 500px;
    width: 60%;
    margin-right: 10px;
    margin-left: 710px;
    margin-bottom: 90px;
}

.fasi {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 2em;
}

.fasi .text2 {
    width: 100%;
    margin-right: 5px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.fasi .text {
    max-width: 500px;
    margin-bottom: 80px;
    margin-right: 100px;
    margin-left: -190px;
}


.origini .text {
    max-width: 500px;
    margin-right: 100px;
    margin-left: 710px;
    margin-bottom: 80px;
}

.epoche {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 2em;
}

.epoche .text2 {
    width: 100%;
    margin-right: 5px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.epoche .text {
    max-width: 500px;
    margin-bottom: 80px;
    margin-right: 100px;
    margin-left: -190px;
}



footer {
    max-width: 1900px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9;
    font-size: 15px;

}

footer p {
    margin: 50;
    font-weight: bold;
    margin-left: 150px;
}

footer p {
    text-decoration: none;
    color: #000000; 
}


footer nav p {
    color: #000000;
}

footer nav p:hover {
    color: #708628;
}

footer nav ul {
    margin: 50;
    margin-right: 110px;
    list-style: none;
    display: flex;
    gap: 70px;

}

footer a {
    text-decoration: none;
    color: #000000; 
}

footer a:hover {
    text-decoration: underline;
    color: #708628;
}

footer nav a {
    color: #000000;
}

footer nav a:hover {
    color: #708628;
}

@media (max-width: 800px) {

    header {
        max-width: 600px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 18px;
        font-size: 10px;
    }

    header p {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    header nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 13px;
    }

    .image-container {
        display: flex;
        align-items: left;
        margin-bottom: 100px;
    
    }
    
    .image-container {
        max-width: 400px;
        height: auto;
    }
    
    .green-square {
        max-width: 400px;
        background-color: #A7DB02;
        width: 65%; 
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .green-square h1 {
        max-width: 400px;
        max-height: 100px;
        color: #ffffff;
        font-size: 40px;
        margin-right: 170px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .green-square h2 {
        max-width: 400px;
        max-height: 100px;
        color: #ffffff;
        font-size: 40px;
        margin-right: 170px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .green-square h3 {
        max-width: 400px;
        max-height: 100px;
        color: #ffffff;
        font-size: 40px;
        margin-left: 40px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .green-square h5 {
        max-width: 400px;
        max-height: 100px;
        color: #ffffff;
        font-size: 40px;
        margin-left: 15px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .green-square h6 {
        max-width: 400px;
        max-height: 100px;
        color: #ffffff;
        font-size: 40px;
        margin-right: 185px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .green-square p {
        max-width: 400px;
        max-height: 100px;
        font-weight: normal;
        color: #000000;
        margin-right: 135px;
        font-size: 18px;
    }
    
    .homepage {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
    }


    .homepage, .primo, .secondo, .terzo, .quarto, .quinto, .sesto {
        flex-direction: column;
        align-items: flex-start;
    }

    .homepage .text, .homepage .image, 
    .primo .text, .secondo .text, .terzo .text, 
    .quarto .text, .quinto .text, .sesto .text,
    .homepage .image, .primo .immagini, .secondo .immagini, 
    .terzo .immagini, .quarto .immagini, .quinto .immagini, .sesto .immagini {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .tisane .text, .preparazione .text, .origini .text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .fasi, .epoche {
        grid-template-columns: 1fr;
    }

    .fasi .text2, .epoche .text2, .fasi .text, .epoche .text, .epoche .text3 {
        margin-left: 20px;
        margin-right: 20px;
    }

    footer {
        max-width: 600px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 18px;
        font-size: 10px;
    }

    footer p {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    footer nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 13px;
    }
}



